:root {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    --bg-color: #909090;
    --text-color-1: #101010;
    --text-color-2: #d0d0d0;
    --text-2-hover: #3a3a3a;
    --button-color: rgb(74, 143, 83);
    --button-hover: rgb(49, 134, 60);
}

body {
    background-color: var(--bg-color);
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    max-width: 50rem;
    min-width: 0.8vw;
    color: var(--text-color-1);
}

h1 {
    font-weight: 900;
    color: var(--text-color-1);
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 36px;
}

h2 {
    margin: 0;
    margin-bottom: 2rem;
    color: var(--text-color-2);
    font-weight: 100;
    font-style: italic;
    font-size: 22px;
}


a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

figure {
    margin: 0;
    padding-left: 3rem;
    width: 100%;
    color: rgb(255, 247, 142);
    background-color: #403f39;
}


.button-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    float: right;
}

.next-button {
    color: var(--text-color-2);
    background-color: var(--button-color);
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
        color 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.next-button:hover,
.next-button:focus {
    background: var(--button-hover);
    color: var(--text-2-hover);
}

.next-button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.next-button:active {
    transform: scale(0.99);
}

.illustrated-paragraph {
    display: flex;
    flex-direction: row;

}

.illustrated-paragraph>p {
    flex-grow: 2;
    margin-right: 1rem;
}

.illustrated-paragraph>img {
    flex-grow: 1;
}